.profile {
    position: fixed;
    top: 33%;
    left: 33%;
    height: 33%;
    width: 33%;
    color: white;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(86, 24, 145);
}

.avatar {
    height: 100px;
    width: 100px;
}

.history_list {
    overflow-y: scroll;
    list-style-type: none;
}

.game_results {
    display: flex;
    justify-content: space-around;
    font-weight: 800;
    font-size: larger;
}

