.chanList {
    /*height: 400px;*/
    /*overflow-y: scroll;*/
    border: 1px solid #a56fe2;
	/* rounded corners */
	border-radius: 10px;
    list-style-type: '>  ';
}

.chanList li{
    /*display: flex;*/
    /*width : fit-content;*/
    padding: 5px;
    /*align-items: left;*/
	/* rounded corners */
    /*height: 30px;*/
    color: #d3c4de;
    cursor: pointer;
}

.chanList li:hover{
	background-color: #4a3e56;
	color: #a56fe2;
	/* rounded corners */
	border-radius: 10px;
	list-style-type: '>> ';

}

.form {
    position: relative;
    padding: 19px;
    display: flex;
	/*width: 100%;*/
    flex-direction: column;
    /*justify-content: space-around;*/
    /*width: 70%;*/
    align-items: center;
    /*border: 2px solid black;*/
    border: 1px solid #a56fe2;
	border-radius: 10px;
}

/* input */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	box-sizing: border-box;
	border: 1px solid #a56fe2;
	border-radius: 4px;
	resize: vertical;
	background-color: #38323e;
	color: #d3c4de;
}

/* input focus (click) */
input[type=text]:focus, input[type=password]:focus {
	background-color: #4a3e56;
	color: #a56fe2;
	outline: none;
}


.form select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	box-sizing: border-box;
	border: 1px solid #a56fe2;
	border-radius: 4px;
	resize: vertical;
	background-color: #38323e;
	color: #d3c4de;
}

.form select:focus {
	background-color: #4a3e56;
	color: #a56fe2;
	outline: none;
}

.form .closeButton {
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
    background-color: transparent;
    color: #a56fe2;
    height: auto;
    width: auto;
}

.chanZone Button{
    height: 30px;
    margin: 10px;
    /*background-color: #a56fe2;*/
    background-color: #38323e;
    font-weight: 900;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
}

.chanZone Button:hover{
	background-color: #4a3e56;
	color: #a56fe2;
	/* rounded corners */
	border-radius: 10px;
	cursor: pointer;
}
